<!DOCTYPE HTML>

<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/search.css" th:href="@{css/search.css}"/>
    <meta charset="UTF-8"/>
</head>



<body>

<div id="top">
    <img id="efinder" src="../static/images/logo.png"  th:src="@{images/logo.png}" width="170px" height="100px"/>
</div>

<div class="contentAbout">


    <div class="articleAbout">
        <div id="rightAbout">
            <h1 id="aboutTitle">About EateryFinder</h1>
            <div id=blueBG>
                <p>EateryFinder app is designed to find restaurants instantly around you.<br> This app allows you to search restaurants just by locate your own current location. <br>Once it knows your current location, it provides you with the 5 closest restaurants to your location.<br><br>Let's start by getting your current location.</p>
            </div>
        </div>
        <div id="leftAbout">
            <img id="imgMan" src="../static/images/man.png"  th:src="@{images/man.png}"/>
        </div>
    </div>

</div>
</body>

<footer>
    <a href="/results" id="buttonGS">Get my current location</a>
</footer>

</html>