<!DOCTYPE html>

<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{css/home.css}"/>
</head>
<body>
<div class="topnav">
    <img src="../static/images/logo.png"  th:src="@{images/logo.png}" alt="restaurant finder image" class="logo" style="width:180px;height:90px;margin-left: 5%;padding-bottom:0"/>
    <nav>
        <ul>
            <li><a class="active" href="/home"><b>Home</b></a></li>
            <li><a href="/search"><b>Search</b></a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="left">
        <h1>Find the best restaurants around you.</h1>
        <p>Eatery Finder is a popular web app intended to serve its hungry customers.</p><br />

        <form method="post" action="/home">
            <button id="get_started">Get started</button>
        </form>
    </div>
    <div class="right"><img src="../static/images/food.png"  th:src="@{images/food.png}"  style="width:630px;height:500px"/></div>
</div>
</body>
</html>