body {
    font-family: Arial;
}

.container {
    margin-left:35%;
    justify-content: center;
    text-align: center;
    width: 50%;
    float: left;
    position: center;
}


input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    color: white;
    background-color: #2196f3;
    width: 150px;
    height: 50px;
}


.column {
    width:50%;
    margin:10px;
    border-radius: 25px;
    background-color: #90caf9;
    padding: 15px;
}
