body{
    background-color: hsl(0, 0%, 100%);
}
.contentAbout{

    margin-left: 10%;
    margin-right: 10%;
    background-color:white;
}

.articleAbout{
    height: 420px;
}

#leftAbout{
    float:left;
    margin-right:10px;
    display:inline-block;
}

#rightAbout{
    width:50%;
    margin-left:10px;
    display:inline-block;
    color: #192402;
}

#rightLocation{

    width:50%;
    margin-left:10px;
    display:inline-block;
    color: #192402;
    margin-top: 3%;
    float: right;
}


#imgMan{
    width:400px;
    height:500px;
}

#aboutTitle{
    font-size:34px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70,127,215);
    margin-left: 25%;
    text-align:center;
}

#buttonGS {
    background-color: rgb(66, 165, 245);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    margin-left: 8%;
    margin-top: 5%;
}


#blueBG{
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin:0 auto;
    text-align: center;

    background:rgb(144, 202, 249);

    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 7%;

    width: 100%;

}


#efinder{
    float:left;
    display:inline-block;
    margin-top: 40px;
}

#homebutton{
    float:right;
    display:inline-block;
}

#top{
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 5px;
}

#button {
    color: white;
    background-color: #2196f3;
    width: 150px;
    height: 50px;
    border-radius: 25%;
    margin-left: 19%;
    display:inline-block;
}

.location{
    margin-left: 15%;
}

#latitude{
    margin-left: 4%;
}

#longitude{
    margin-left: 2%;
}